*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective:10px;
}
.container{
position: relative;
display: flex;
justify-content: center;
align-items: center;
transform-style: preserve-3d;
height: 100%;
z-index: -1;
}
.bg{
    transform: translateZ(-40deg) scale(3) ;
    
}
.fg{
    transform: translateZ(-20px) scale(3);
}
.bg , .fg{
    position:absolute;
    height: 100%;
    width: 100%;
    z-index:-1;
    object-fit: cover;
}